.section-getstarted{
    padding: 60px 20px;
    background-color: var(--maroon);
}
@media only screen and (max-width: 600px) {
  .section-getstarted .web-btn{
    font-size: 12px;
    text-align: center !important;
  }
  .section-getstarted p{
    font-size: 10px !important;
   
  }
    
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {


}