.top-bar {
    display: flex;
    background-color: #EF232E;
    justify-content: space-between;
    padding: 5px 10px;
}
.top-bar p {
    align-items: center;
    display: flex;
    gap: 5px;
    color: #fff;
}
nav {
    background-color: var(--maroon);
}
.nav-btn {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.10) !important;
}.setting-btn {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: var(--maroon);
    border-radius: 5%;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 0px 2px rgb(212, 209, 255);
  }
  .bar {
    width: 50%;
    height: 2px;
    background-color: rgb(229, 229, 229);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 2px;
  }
  .bar::before {
    content: "";
    width: 2px;
    height: 2px;
    background-color: var(--maroon);
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.3s;
    box-shadow: 0px 0px 5px white;
  }
  .bar1::before {
    transform: translateX(-4px);
  }
  .bar2::before {
    transform: translateX(4px);
  }
  .setting-btn.active .bar1::before {
    transform: translateX(4px);
  }
  .setting-btn.active .bar2::before {
    transform: translateX(-4px);
  }
.navbar-brand img {
    width: 120px;
}
footer {
    background-color: #E1E1E1;
    padding: 60px 20px;
}
footer .leftside img {
    width: 130px;
}
footer .leftside p {
    font-size: 15px;
}
footer .centerside {
    padding: 30px 120px;
}
footer .centerside li {
    color: var(--maroon);
    font-weight: 800;
}
footer .centerside a {
    color: #000;
    font-weight: 500;
    margin-top: 15px;
}
footer .rightside {
    padding: 30px 0px 30px 50px;
}
footer .rightside li {
    color: var(--maroon);
    font-weight: 800;
}
footer .rightside a {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    margin-top: 20px;
}
.bottom-bar {
    display: flex;
    background-color: var(--maroon);
    justify-content: space-between;
    padding: 15px 80px;
}
.bottom-bar p a {
    text-decoration: none;
    font-weight: 700;
}
.bottom-bar p {
    align-items: center;
    display: flex;
    color: #fff;
}
.terms {
    width: 25%;
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    nav ul{
        margin-top: 30px;
    }
    footer .centerside {
        padding: 30px 60px;
        text-align: start !important;
    }
    footer .leftside p {
        font-size: 12px;
    }
    .bottom-bar {
        padding: 15px;
    }
    .bottom-bar p {
        font-size: 12px;
    }
}
@media only screen and (max-width: 600px) {
    .top-bar p {
    font-size: 10px;
    }    nav ul{
        margin-top: 30px;
    }
    footer .leftside {
        align-items: center;
        gap: 30px;
    }
    footer .leftside img {
        width: 100px;
    }
    footer .leftside p {
        font-size: 12px;
    }
    footer .centerside {
        margin-top: 40px;
        padding: 30px 50px;
        text-align: start !important;
    }
    .bottom-bar {
        gap: 5px;
        flex-direction: column;
        padding: 15px 0;
    }
    .bottom-bar p {
        font-size: 12px;
        justify-content: center;
    }
    .terms {
        width: 100%;
        justify-content: center !important;
        gap: 20px;
    }
}
