.section-choose-us {
    background-color: #E1E1E1;
    padding: 50px 0px;
}
.section-choose-us h2 {
    color: var(--maroon);
    margin-bottom: 20px;
    font-weight: 800;
}
.section-choose-us .card {
    margin-top: 20px;
    border-radius: 0;
    height: 180px;
    background-color: #840611;
}
.card {
    text-align: start;
    color: #fff;
    padding: 15px 30px;
}
.card .heading {
    align-items: center;
    color: #fff;
    justify-content: space-between;
}
.heading span {
    font-weight: 700;
    font-size: 16px;
}
.card .heading p {
    font-weight: 800;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.39);
}
.card p {
    font-size: 11px;
}
@media only screen and (min-width: 601px) and (max-width: 1100px) {
    .section-choose-us .card {
        padding: 15px;
        height: 175px;
  }
  .heading span {
    font-size: 16px;
}
.card .heading p {
    font-size: 30px;
}
.card p {
    font-size: 10px;
}
}
@media only screen and (max-width: 600px) {
    .section-choose-us {
        padding: 50px 40px;
    }
    .section-choose-us .card {
        padding: 15px 10px;
        height: fit-content;
  }
    .section-choose-us .main-heading {
        font-size: 13px !important;
    } .heading span {
        font-size: 15px;
    }
    .card .heading p {
        font-size: 25px !important;
    }
    .card p{
        font-size: 10px !important; 
        }
}
@media only screen and (max-width: 420px) {
}