.section-choose-us {
    background-color: #E1E1E1;
    padding: 50px 0px;
}
.section-choose-us h2{
    color: var(--maroon);
    margin-bottom: 20px;
    font-weight: 800;
}
.section-choose-us {
    padding: 50px 0px;
}

.section-choose-us .card {
    margin-top: 20px;
    border-radius: 0;
    height:220px;
    background-color: #840611;
}

.card {
    text-align: start;
    color: #fff;
    padding: 30px 30px;
}

.card .heading {
    align-items: center;
    color: #fff;
    justify-content: space-between;
}

.heading span {
    font-weight: 700;
    font-size: 20px;
}

.card .heading p {
    font-weight: 800;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.39);
}

.card p {
    font-size: 13px;
}